<form>
    <div class="form-group">
        <div>
            <label for="email" class="form-label">Email address*</label>
            <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            <div class="alert alert-danger" role="alert">
                Please add your email
            </div>
        </div>    
        <div>
            <label for="phone" class="form-label">Phone</label>
            <input type="phone" class="form-control" id="phoneInput">
        </div>
        <br/>
        <div>
            <label for="proposal" class="form-label">Write your proposal*</label>
            <textarea class="form-control" id="proposalInput" rows="3"></textarea>
            <br/>
            <div class="alert alert-danger" role="alert">
                Please add your proposal
            </div>
        </div>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
