<div class="container">
    <form action="" [formGroup]="formContact">
        

        <div class="form-group">
            <label for="email" class="form-label">Email address*</label>
            <input  formControlName="email" type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="example@example.com">
        </div>
        <br/>
        <div *ngIf="formContact.controls['email'].invalid && formContact.controls['email'].dirty" class="alert alert-warning" role="alert">
            <div *ngIf="formContact.controls['email'].errors?.required">
                Add at least an email to contact you
            </div> 
            <div *ngIf="formContact.controls['email'].errors?.email">
                Please follow the email format
            </div>   
        </div>


        <div class="form-group">
            <label for="phone" class="form-label">Phone</label>
            <input type="phone" class="form-control" formControlName="phone" id="phoneInput">
        </div>


        <div class="form-group">
            <label for="proposal" class="form-label">Write your proposal*</label>
            <textarea class="form-control" formControlName="proposal" id="proposalInput" rows="3" placeholder="Your thoughts are welcome"></textarea>
        </div>
        <br/>
        <div *ngIf="formContact.controls['proposal'].errors?.required && formContact.controls['proposal'].dirty" class="alert alert-danger" role="alert">
            <div *ngIf="formContact.controls['proposal'].errors?.required">
                Please add your proposal
            </div>    
        </div>


        <br/>
        <button class="btn btn-primary" [disabled]="!formContact.valid" (click)="sendData()">Submit</button>
        
    </form>
</div>