<br>
<div class="container-fluid">

    <div class="section">
        <div class="titles">
            <img src="https://raw.githubusercontent.com/Sergiowk/sergioguzmanportfolio/main/sgj-portfolio/src/assets/briefcase.png" alt="Studies">
            <h5>Work Experience</h5>
        </div>
        <div class="items">
            <p>Application Maintenance Engineer (Ciklum)</p>
            <p class="verticalLine"></p>
            <br>
            <p>Java Developer (CGI)</p>
            <p class="verticalLine"></p>
            <br>
            <p>Splunk System Administrator (CGI)</p>
            <p class="verticalLine"></p>
            <br>
            <p>IT Consultant (CGI)</p>
        </div>
    </div>


    <div class="section">
        <div class="titles">
            <img src="https://raw.githubusercontent.com/Sergiowk/sergioguzmanportfolio/main/sgj-portfolio/src/assets/certificates.png" alt="Studies">
            <h5>Certificates</h5>
        </div>
        <div class="items">
            <p>Linux Essentials</p>
            <p class="verticalLine"></p>
            <br>
            <p>Splunk Fundamentals</p>
            <p class="verticalLine"></p>
            <br>
            <p>Splunk Infrastructure Overview</p>
            <p class="verticalLine"></p>
            <br>
            <p>Splunk SysAdmin</p>
            <p class="verticalLine"></p>
            <br>
            <p>Splunk Data Admin</p>
        </div>
    </div>

    <div class="section">
        <div class="titles">
            <img src="https://raw.githubusercontent.com/Sergiowk/sergioguzmanportfolio/main/sgj-portfolio/src/assets/studies.png" alt="Studies">
            <h5>Education</h5>
        </div>
        <div class="items">
            <p>High Level in Multiplatform Applications Development</p>
            <p class="verticalLine"></p>
            <br>
            <p>Hight Level in Guide, Information and Tourist assistance</p>
        </div>
    </div>


</div>

