.titles{
    display: flex;
    flex-flow: row wrap;
    align-items:center;
}

img {
    order: 1;
    width: 10%;
    padding-right: 2%;
}
h5 {
    order: 2;
}

.items {
    text-align: center;
}

.verticalLine{
    border-left: 1mm solid rgb(33, 37, 41);
    height: 20px;
    position: absolute;
    left: 50%;
}