#aboutme, #myprojects{
    background-color: #f0f7f6;
    color: #000000;
}

p{
    background-color: #f0f7f6;
}

#workexperience, #contact{
    background-color: #696969;
    color: #fcfcfc;
}

a{
    color: #000000;
}

.info{
    width: 50%;
    margin: 0 auto;
}

#mypicture{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}